<div class="login-component ">
  <div class="login-component__title">
    <h1>Registro</h1>
  </div>
    <div class="login-component__body">
      <div class="login-component__form">
        <label>Usuário</label>
        <input class="login-component__form__user" type="text" placeholder="WebMobile..."/>
         <label style="margin-top: 10px;">Senha</label>
        <input class="login-component__form__user" type="password" />
         <label style="margin-top: 10px;">Confirmar senha</label>
        <input class="login-component__form__user" type="password" />
        <div class="login-component__form__btn">
          <button (click)="redirectToRegister()">
            Criar Usuario
          </button>
        </div>
        
      </div>
     
    </div>
   
</div>